@{
    ViewBag.Title = "Home Page";
}






<style>

    /*.body{
        background-color: green;
    }*/

    .wrappers {
        display: flex;
        flex-direction: row;
        align-content:center
    }

    .images {
        flex: 0 0 30%;
        margin-right: 80px;
    }

    .textimage {
        flex: 1;
    }
    .colors {
        color: #144135;
        font-size:25px;
    }
    .heading{
        text-align:center;
        font-size:64px;
    }

</style>




<body style="background-color: #6EAC80;">
    <br />

    <section class="hero">

        @*<div class="wrappers">*@
        @*<div class="images">
                <img src="/images/student home page_web 1.jpg" alt="staff" width="300" height="300" border="1">
            </div>*@
        <div class="texts">
            <div class="heading">
                <h1 style="color:Black;">Welcome to EduConnect</h1>
            </div>
            <div class="colors">
                <p align="center">Stay connected.</p>
            </div>
        </div>
        @*</div>*@
        <br />




        <!--  <a href="AboutUs.html" class="btn">Learn More</a> <br> -->


        <img src="/images/lease_web.jpg" alt="Lease" width="300" height="300" border="2">
        <img src="/images/communique_picture.jpg" alt="Communiques" width="300" height="300" border="2">
        <img src="/images/bursaries_picture.jpg" alt="Bursaries" width="300" height="300" border="2">
        <img src="/images/jobsite_picture.jpg" alt="Job Sites" width="300" height="300" border="2">




    </section>


</body>





