
@{
    ViewBag.Title = "Forgot Password";
}

<style>
    .sectionCenter {
        margin: auto;
        width: 50%;
        padding: 50px;
        /* text-align: left;*/
    }
    .forgotp {
        color: black;
        margin-left: 20px;
    }
    .forgotb {
        text-align: center;
    }

</style>




<body style="background-color: #6EAC80; ">

    <section class="sectionCenter">


        <div class=" forgotp">
            <h2>Forgot Password</h2>
            </div>

            <br />
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <hr style="color:black;" />
                    <br />
                    <div class="text-success">
                        @ViewBag.Message
                    </div>
                    <div class="form-group">
                        @*<label class="control-label col-md-2">Email Address</label>*@
                        @Html.TextBox("EmailID", "", new { @class = "form-control", @placeholder = "Email Address" })
                    </div>

                    <br />
                    <div class="forgotb">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Send" @*class="btn btn-default"*@ @*class="btn btn-dark"*@ class="btn @*btn-primary*@  btn-outline-success btn-lg btn-block" />
                            </div>
                        </div>
                        </div>



                    </div>
                    }

</section>
    </body>